/*add-font*/
@font-face {
    font-family: sf-regular;
    src: url(../font/sf-regular.otf);
}

@font-face {
    font-family: sf-semi;
    src: url(../font/sf-semibold.otf);
}

@font-face {
    font-family: sf-bold;
    src: url(../font/sf-bold.otf);
}

@font-face {
    font-family: sf-thin;
    src: url(../font/sf-thin.otf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(/img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    width: 80%; 
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row-reverse;

    height: 500px;
}

.main-2 {
    margin-right: 15px;
    
}
/* Grupos */

.index-courses-att, .index-provas {
    width: 800px;
    height: 48.5%;
    padding: 15px;
}

.index-inform, .index-courses-att, .index-provas, .index_user_stats, .index-provas-div2, .index-provas-div1 {
    background-image: linear-gradient(#dbdbdb70, #ffffff);
    border: 4px solid #fff;
    border-radius: 15px;
    box-shadow: 0 0px 15px #00000041;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

/*Informações do Usuário*/

.index-inform {
    width: 30%;
    padding: 15px;

    display: flex;
    align-items: center;
    flex-direction: column;


}

.index_user_img {
    width: 180px;
    height: 180px;
    object-fit: contain;
    border-radius: 50%;
    background-color: #ffffff36;
    border: 4px solid #ffffff91;

}

.index_user_name {
    font-family: sf-bold;
    color: #132247;
    text-align: center  ;
    margin-top: 1.3rem;
    font-size: 1.5rem;

}

.index_user_stats {
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 15px #0000002d;
    margin-top: 1.5rem;
    border-radius: 15px;
}




/*Inf-Cursos*/
.index-courses-att {
    margin-bottom: 15px;
}

/* Provas e Notas*/ 
.index-provas {
    display: flex;
    justify-content: space-between;
}

.index-provas-div1 {
    width: 49%;
    height: 100%;
    padding: 15px;

    font-family: sf-regular;
}
.index-provas-div2 {
    width: 49%;
    height: 100%;
    padding: 15px;

    font-family: sf-regular;
}
