/*add-font*/
@font-face {
    font-family: sf-regular;
    src: url(../font/sf-regular.otf);
}

@font-face {
    font-family: sf-semi;
    src: url(../font/sf-semibold.otf);
}

@font-face {
    font-family: sf-bold;
    src: url(../font/sf-bold.otf);
}

* {
    margin: 0px;
    user-select: none;
}

nav {
    margin-top: 3vh;
    width: 100vw;
    height: 45px;

    display: flex;
    justify-content: center;
}

#navbar {
    position: fixed;

    width: 60vw;
    height: 45px;
    background-image: linear-gradient(#182B5A, #121F40);
    box-shadow: 0px 2px 15px #00000050;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* top-right-bottom-left*/
    padding: 0px 20px 0px 20px;

}

.nav-title {
    margin-left: 3.5vw;
    font-family: sf-bold;
    color: #fff;
    font-size: 1.3rem;
}

#nav-logo {
    position: absolute;
    border-radius: 50%;
    width: 30px;
}

.nav-items {
    margin-right: 1vw;
}

.nav-items,
.nav-items a,
.dropdown {
    display: inline-block;

    font-family: sf-regular;
    text-decoration: none;
    padding-left: 15px;
}

.items-li {
    color: #fff;
    transition: 0.5s;
}

.items-li:hover {
    color: #cacaca;
}


/* DROPDOWN */

.dropdown span {
    padding: 5px 10px 10px 10px;
    color: #fff;
}

.dropdown:hover span {
    padding: 5px 10px 10px 10px;
    border-radius: 10px 10px 0px 0px;
    color: #182B5A;
    background-color: #fff;
}

.dropdown:hover .dropdown-content {
    display: grid;
}

.dropdown:hover .dropsection {
    display: block;
}


.dropdown-content {
    position: absolute;
    display: none;

    width: auto;
    height: auto;

    margin-top: 13px;
    padding: 15px 13px 5px 0px;

    /* top-right-bottom-left*/
    border-radius: 0px 15px 15px 15px;
    background-color: #fff;

}

.dropdown-content a {

    margin-bottom: 10px;

    font-size: 1rem;
    color: #182B5A;
}

.dropsection {
    display: none;
    position: absolute;

    top: 30px;
    height: 20px;
    width: 65.28px;
    background-color: #fff;
}