/*add-font*/
@font-face {
    font-family: sf-regular;
    src: url(../font/sf-regular.otf);
}

@font-face {
    font-family: sf-semi;
    src: url(../font/sf-semibold.otf);
}

@font-face {
    font-family: sf-bold;
    src: url(../font/sf-bold.otf);
}


* {
    margin: 0px;
    user-select: none;
    box-sizing: border-box;
    user-select: none
}

body {
    background-image: url(/img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    margin-top: 3vh;
    width: 100vw;
    height: auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about,
.dev,
.about-title {
    width: 60vw;
    height: auto;

    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}

.about,
.card {
    background-image: linear-gradient(#ffffff9d, #b1b1b16b);
    border-radius: 30px;
    box-shadow: 0px 2px 15px #00000050;

}

.title {
    font-family: sf-bold;
    font-size: 2rem;

    width: 200px;
    height: 68px;

    text-shadow: 0px 2px 15px #00000028;
    background-image: linear-gradient(#182B5A, #121F40);
    color: #fff;
    border-radius: 15px;

    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 15px;
    text-align: center;
}

.about-desc {
    font-family: sf-regular;
    color: #132247;
    font-size: 1.5rem;

    width: 80%;

    border-radius: 15px;
    padding: 20px;

    text-align: center;

}

.dev-title {
    font-family: sf-bold;
    background-image: linear-gradient(#182B5A, #121F40);
    color: #fff;

    border-radius: 15px;

    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 15px;
    text-align: center;
}

/* Cards */

.dev-cards-section {
    width: 60vw;

    display: flex;
    justify-content: center;
}

.card {
    width: 350px;
    margin: 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card img {
    margin: 25px 0px 25px 0px;
    width: 250px;
    border-radius: 50%;
}

.user-name {
    font-size: 2rem;
    font-family: sf-bold;
    color: #182B5A;
    margin-bottom: 15px;
}

.user-role {
    font-size: 1.7rem;
    font-family: sf-semi;
    color: #182B5A;
    margin-bottom: 15px;
}

.user-desc {
    text-align: center;
    font-family: sf-regular;
    padding: 0px 25px 25px 25px;
}

.about, .card {
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
}